<h2>Galleries</h2>

<div id="content">
    <div class="row">
        <section id="El_Galleries_GalleryCollectionView"></section>
        <div class="col-md-3" id="El_Galleries_GalleryAddItemView">
            <div class="thumbnail" style="margin-bottom: 10px; cursor: pointer" data-role="add">
                <img data-src="holder.js/100%x348/text:Add">
            </div>
        </div>
    </div>
</div>

<script type="text/template" id="Template_Galleries_GalleryItemView">
    <div class="thumbnail" style="margin-bottom: 10px;">
        <img data-src="holder.js/100%x200" alt="<%= Name %>">
        <div class="caption">
            <h3 data-placeholder="Name" contenteditable="true" data-name="Name"><%= Name %></h3>
            <p data-placeholder="Description" contenteditable="true" data-name="Description"><%= Description %></p>
            <p><a href="#" class="btn btn-success" role="button" data-role="save">Save</a> <a href="#" class="btn btn-danger" role="button" data-role="delete">Delete</a></p>
        </div>
    </div>
</script>

