
@{
    ViewBag.Title = "Home";
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav"></ul>
        </div>
    </div>
</div>

<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
        <div class="item active">
            <!-- Set the first background image using inline CSS below. -->
            <div class="fill">
                <div class="container body-content">
                    @Html.Partial("Galleries")
                </div>
            </div>
        </div>
        <div class="item">
            <!-- Set the second background image using inline CSS below. -->
            <div class="fill">
                <div class="container body-content">
                    @Html.Partial("GalleryImages")
                </div>
            </div>
        </div>
        <div class="item">
            <!-- Set the third background image using inline CSS below. -->
            <div class="fill">
                <div class="container body-content">
                    <h2>Gallery Settings</h2>

                    <div class="row">
                        <div class="col-lg-10">
                            <a class="btn btn-primary" href="#"><i class="glyphicon glyphicon-arrow-left"></i> Galleries</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-10 top15">
                            <form data-role="form" id="El_GallerySettings_GallerySettingsFormItemView">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>

<script type="text/template" id="Template_GallerySettings_GallerySettingsFormItemView">
    <% console.log(model); %>
    <div class="form-group">
        <label for="imageWidth">Image width</label>
        <input type="number" class="form-control" id="imageWidth" placeholder="Enter images width"
               data-field="Width" value="<%= model.get('Settings').get('ImagesSize').get('Width') %>">
    </div>
    <div class="form-group">
        <label for="imageHeight">Image height</label>
        <input type="number" class="form-control" id="imageHeight" placeholder="Enter images height"
               data-field="Height" value="<%= model.get('Settings').get('ImagesSize').get('Height') %>">
    </div>
    <a class="btn btn-primary" href="#" data-role="submit">Save</a>
</script>

<script type="text/template" id="Template_GalleryImages_GalleryImageItemView">
    <div class="thumbnail" style="margin-bottom: 10px;">
        <span class="pull-left"></span> <a class="close" data-role="removeImage" href="#">×</a>
        <img src="<%= typeof Id === 'undefined' ? Source : _.apiUrl('image', {id: Id}) %>">
    </div>
</script>

